services:
  n8n:
    image: n8nio/n8n:2.1.2
    restart: always
    ports:
      - "5678:5678"
    # Espacio asegurado entre el guion y el nombre del archivo
    env_file:
      - .env
    environment:
      # El servidor principal escucha en todas las interfaces (0.0.0.0)
      - N8N_RUNNERS_BROKER_LISTEN_ADDRESS=0.0.0.0
      - NODE_OPTIONS=--max-old-space-size=4096
    volumes:
      - n8n_data:/home/node/.n8n
    depends_on:
      - task-runners
    links:
      - task-runners

  task-runners:
    image: n8nio/runners:2.1.2
    restart: always
    env_file:
      - .env
    environment:
      # CORRECCIÓN: Usar 'http://' en lugar de 'ws://'. n8n hará el cambio a WebSocket internamente.
      - N8N_RUNNERS_TASK_BROKER_URI=http://n8n:5679
      # Permite importar librerías externas en Python
      - N8N_RUNNERS_EXTERNAL_ALLOW=*

volumes:
  n8n_data:
    external: false